input {
  border: 0.125rem solid #f5f5f7;
  border: 0.063rem solid var(--color-grey);
  background-color: var(--color-secondary);
  padding: 0.625rem 0.5rem;
  transition: all 0.8s;
  text-align: left;
  color: var(--color-tertiary);
  transition: all 0.8s;
  border-radius: 3px;
}

input:focus {
  outline: var(--color-primary);
  border: 0.063rem solid var(--color-primary);
}

::placeholder {
  color: var(--color-tertiary);
}
