/* Big tablet to 1200 px (width smaller then row 1140px) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet,to big tablet from 768 - 1023 px */
@media only screen and (max-width: 1023px) {
}

/* Small phones, to small tablets from 481 - 767 px */
@media only screen and (max-width: 767px) {
}

/* Small phones from 0 - 480 px */
@media only screen and (max-width: 480px) {
  .movies-layout {
    grid-template-columns: auto;
  }
  .movie-card img {
    height: 364px;
  }
  .movie-card {
    max-width: unset;
  }
}

/* Iphone 5 */
@media only screen and (width: 320px) {
}
