.movies-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: space-evenly;
  grid-column-gap: 1.188rem;
  grid-row-gap: 2.188rem;
  margin: 2.5rem 0;
  transition: all 0.8s ease-in-out;
}
