.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin: 2.5rem 0;
  background-color: var(--secondary-1);
  color: var(--white);
  padding: 1.25rem;
  grid-column-gap: 2.313rem;
  border-radius: 3px;
}

.header h1 {
  margin: 0;
}

.poster img {
  border-radius: 3px;
}

.genres span {
  font-size: 38px;
  margin: 0 10px;
}

.plot p {
  letter-spacing: 0.8px;
  font-weight: 300;
  line-height: 25px;
}

.title,
.genres,
.bookmark {
  display: flex;
}

.bookmark {
  align-items: center;
}

.bookmark p,
i {
  margin-right: 10px;
}

.bookmark button {
  background: transparent;
  color: var(--white);
  border: none;
  transition: all 0.5s;
}

.bookmark button:hover {
  color: var(--primary-1);
  border: none;
  cursor: pointer;
}

.genres p {
  margin-right: 10px;
}

.title h1:last-child {
  margin-left: 0.625rem;
}

.details {
  display: grid;
  grid-template-rows: auto auto;
}

.poster {
  width: 100%;
}

.similar-movie-layout {
  display: grid;
  grid-template-columns: repeat(99, 250px);
  grid-column-gap: 25px;
  grid-auto-flow: column;
  overflow-x: scroll;
  padding-bottom: 40px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  color: var(--white);
  font-size: 24px;
  padding-bottom: 5px;
}
